<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<div class="registration-form">
 <%= form_for @user do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
    </div>
    <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
    </div>

    <div>
      <%= f.submit %>
    </div>

 <% end %>
</div>