<%= form_for(@grade) do |f| %>
  <div class="input-field">
    <%= f.label :student %>
    <%= f.collection_select(:student_id, Student.all, :id, :name) %>
  </div>
  <div class="input-field">
    <%= f.label :assignment %>
    <%= f.collection_select(:assignment_id, Assignment.all, :id, :title) %>
  </div>
  <div class="input-field">
    <%= f.label :score %>
    <%= f.text_field :score %>
  </div>
  <button type="submit">Submit Grade</button>
<% end %>
